.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 5rem;
}

.App-logo-navbar {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: #a0a0a0;
  opacity: 1;
  font-style: italic;
  transition: opacity 0.3s ease;
  font-size: 0.9rem;
}

