body {
  margin: 0;
  font-family: 
    'Courier New', 'Roboto', 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  background-color: #282c34;
}

code, h1, h2, h3, h4, input, text, textarea {
  font-family: 
    'Courier New', 'Roboto', 'Ubuntu';
}
